{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 10 Chrome versions"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["istanbul"]
    }
  }
}
