.__article-toc-container {
	position: fixed;
	top: 24vh;
	background: white;
	border: solid 1px #c4c4c4;
	border-right: 0;
	border-radius: 5px;
	right: 0;
	width: 300px;
	bottom: 0;
	overflow: auto;
	z-index: 1;
}

.__article-toc .__toc-h1 { font-size: 18px; }
.__article-toc .__toc-h2 { font-size: 17px; }
.__article-toc .__toc-h3 { font-size: 16px; }
.__article-toc .__toc-h4 { font-size: 14px; }
.__article-toc .__toc-h5 { font-size: 13px; }
.__article-toc .__toc-h6 { font-size: 12px; }
